:root {
    --app-color: #00AA83;
    --background-color: var(--app-color);
    --on-background-color: #FFFFFF;
    --body-padding: 8vw;
}

@font-face {
    font-family: "Wagon Sans";
    src: url("arialroundedmtbold.ttf");
}

a.secondary {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Wagon Sans", "Arial", sans-serif;
}

body {
    padding: 4vh var(--body-padding);
    background-color: var(--background-color);
    color: var(--on-background-color);
}

main {
    padding: 7vh 0;
    display: flex;
    gap: 4vw;
}

main>img {
    height: 70vh;
    width: auto;
    border: 3vh solid #fff4;
    border-radius: 8vh;
    margin-left: 50px;
}

@media (max-width:1100px) {
    main {
        flex-direction: column-reverse;
    }

    main>img {
        height: auto;
        width: 70vw;
    }
}

h1 {
    font-size: max(22px, 3.5vw);
    letter-spacing: -0.1vw;
    margin-top: 0;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: max(18px, 1.5vw);
    list-style: none;
    margin: 0;
    padding: 0;
}

.features li {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    width: fit-content;
}

.features .outside {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    padding-left: 10px;
}

.features img {
    height: 20px;
    width: auto;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 4vh 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.questions a {
    color: white;
}

p {
    opacity: 0.7;
    font-size: max(16px, 1.5vw);
}

.footer {
    margin-top: 5vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>div {
    display: flex;
    align-items: start;
    gap: 1vw;
}

nav img {
    height: 4vh;
}

nav div span {
    font-size: max(16px, 4vh);
}

nav a {
    display: grid;
    place-items: center;
    padding: 1vh 1vw;
    background-color: var(--on-background-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 999px;
}

nav a span {
    font-size: max(14px, 2vh);
}

nav a:hover {
    opacity: 0.7;
}

main section {
    max-width: 44vw;
}

.testflightbutton,
.googleplaybutton {
    text-decoration: none;
}

.testflightbutton img,
.googleplaybutton img {
    height: 4vw;
    width: auto;
}

.googleplaybutton {
    margin-left: 12px;
}

footer {
    font-size: max(12px, 2vh);
}

footer span {
    color: #fff9
}

footer strong {
    color: var(--on-background-color);
    font-weight: normal;
}

.map {
    padding: 10vh 0;
}

.map img {
    padding: 0;
    display: block;
    margin: 0;
    width: calc(100% + var(--body-padding));
    height: auto;
}